# Database (Neon.tech PostgreSQL)
DATABASE_URL=your_neon_database_url

# Email (Nodemailer)
NODEMAILER_USER="your_gmail"
NODEMAILER_PASS="your_gmail_app_password"

# Authentication (Google OAuth)
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret

# BetterAuth
BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_SECRET=your_betterauth_secret

# File Storage (AWS S3)
AWS_ACCESS_KEY_ID=your_aws_access_key
AWS_SECRET_ACCESS_KEY=your_aws_secret_key
AWS_REGION=your_aws_region
S3_UPLOAD_BUCKET=your_bucket_name

# Rate Limiting (Upstash Redis)
UPSTASH_REDIS_REST_URL=your_upstash_url
UPSTASH_REDIS_REST_TOKEN=your_upstash_token

# Payments (Stripe)
STRIPE_SECRET_KEY=your_stripe_secret_key
STRIPE_WEBHOOK=your_stripe_webhook_secret

# FREE PLAN HERE 
NEXT_PUBLIC_STRIPE_FREE_MONTHLY_PLAN_ID=""

# STARTER PLAN HERE 
NEXT_PUBLIC_STRIPE_STARTER_MONTHLY_PLAN_ID=""
NEXT_PUBLIC_STRIPE_STARTER_YEARLY_PLAN_ID=""

# PRO PLAN HERE 
NEXT_PUBLIC_STRIPE_PRO_MONTHLY_PLAN_ID=""
NEXT_PUBLIC_STRIPE_PRO_YEARLY_PLAN_ID=""

# App Encryption
ENCRYPTION_KEY=your_encryption_key
NEXT_PUBLIC_APP_URL=http://localhost:3000